* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    max-width: 50rem;
    height: 50vh;

    
    background: linear-gradient(180deg, rgba(130, 192, 237, 0.521) 22.92%, #fefc8d57 100%);;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.4063rem);
    -webkit-backdrop-filter: blur(.4063rem);
    border: .0625rem solid rgba(238, 185, 141, 0.35);
}

.cover-card {
    width: inherit;
    height: 45vh;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.big-card img {
    margin-left: 1.25rem ;
    height: 45vh;
    border-radius: .625rem;
    border: .3125rem solid rgba(0, 62, 87, 0.35);
}

.film-info {
    width: 100%;
    height: 100%;
    max-height: 40vh;
    display: inline-block;
}

.area-title {
    text-align: center;
    margin-bottom: 2rem;
}

.area-description {
    width: 100%;
}

.area-description span {
    text-align: center;    
}

.area-info {
    margin-top: 2rem;
}

.area-director{
    display: flex;
    margin-top: .5rem;
}

.button {
    margin-top: 1rem;
	border-radius:2.625rem;
	border:.125rem solid #E1DB9D;
	cursor:pointer;
	color:#ffffff;
	padding:0.5rem 1rem;
	text-shadow:0rem .125rem 0rem #2f6627;
}

.button:hover {
    transition: 0.2s;
    background: #E1DB9D;
    box-shadow: 0rem .0625rem .625rem 0rem #E1DB9D;
    border:.125rem solid #2f6627;
}

@media screen and (max-width: 50rem) {
    .big-card {
        flex-direction: column;
        height: 90vh;
    }

    .big-card img {
        margin-top: 1.25rem;
    }

    .cover-card {
        align-items: center;
    }
    
    .film-info {
        width: 95%;
    }
    
}
